/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
	width: 876px;
    margin: auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* Main Container */

.container {
	width: 1000px;
	margin: auto;
	border: 1px solid gray;
}

/* Header Section Selectors */

header {
	background-color: lightblue;
    height: 100px;
    display: flex;
    align-items: center;
	justify-content: space-around;
}

header nav {
	font-size: 24px;
}

header nav a {
	margin: 12px;
	text-decoration-line: none;
    color: black;
}

/* Services Section Selectors (services html) */

.services-info-img {
	width: 600px;
}

section.services {
	margin-top: 25px;
}

section.services h1 {
	font-size: 28px;
}

/* Call To Action Selectors (index.html) */

section.cta {
	background-image: url(C:/Users/kingmoc/Documents/git/User-Interface/great-idea-website/img/header-img.png);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: contain;
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cta-text button {
	font-size: 21px;
    padding: 9px;
    width: 206px;
	background-color: white;
    color: black;
	border: 1px solid black;
	margin-left: 53px;
    margin-top: 19px;
}
	
.cta-text {
	margin-left: 84px;
}

section.cta div h1 {
	font-size: 80px;
    text-align: center;
}

/* Main Content Selectors (index.html) */

section.main-content {
	background-image: url("C:/Users/kingmoc/Documents/git/User-Interface/great-idea-website/img/mid-page-accent.jpg");
    background-repeat: no-repeat;
    background-position: 42% 42%;
}

/* Top/Bottom Content Selectors */

.top-content {
	display: flex;
}

.bottom-content {
	display: flex;
}

.bottom-content .text-content {
	margin-right: 35px;
}

div.bottom-content {
	margin-top: 235px;
}


/* Service Info Selectors */

section.service-info {
	display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-between;
    height: 860px;;
}

section.service-info .info-box {
	background: #f4f3f4;
    width: 48%;
    height: 250px;
	border: 1px solid black;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}


/* Facts Selectors */

.facts ul {
	list-style-type:square;
	list-style-position: inside;
}

.factsText ul li {
	margin-bottom: 10px;
}

.facts {
	display: flex;
	justify-content: space-between;
}

.facts .factsText {
	width: 420px;
}

.factsText p {
	line-height: 22px;
    margin-bottom: 20px;
}


/* Footer Selectors */

footer p.copyright {
	margin-top: 40px;
	text-align: center;
}

footer section address {
	margin-bottom: 20px;
}

footer section p {
	line-height: 30px;
}

/* Other Selectors */


.line {
	margin-top: 30px;
    margin-bottom: 40px;
    border-top: 1px solid black;
}

.info-box button {
	border-radius: 5px;
    width: 122px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.info-box p {
	margin-bottom: 25px;
    line-height: 20px;
}




/* Media Queries  */

/* If the screen size is 600px or less, */
@media only screen and (max-width: 600px) {
	section.service-info {
	  height: auto;
	  flex-flow: column nowrap;
	  align-items: center;
	}
  }
  
/* If the screen size is 600px or less, */
@media only screen and (max-width: 600px) {
	section.service-info .info-box {
		margin-bottom: 20px;
		width: 600px;
	}
  }


/* If the screen size is 600px or less, */
@media only screen and (max-width: 600px) {
	.info-box button {
		margin-left: 150px;
		margin-top: 30px;
		font-size: 35px;
		width: 225px;
		height: fit-content;
	}
  }
  
/* If the screen size is 600px or less, */
@media only screen and (max-width: 600px) {
	.facts {
	  height: auto;
	  flex-flow: column nowrap;
	  align-items: center;
	}
}
	
	
/* If the screen size is 600px or less, */
@media only screen and (max-width: 600px) {
	.facts .factsText {
		width: 600px;
		margin-bottom: 40px;
	}
} 

/* If the screen size is 600px or less, */
@media only screen and (max-width: 600px){
	footer .contact {
		height: auto;
		flex-flow: column nowrap;
		align-items: center;
		display: flex;
    	justify-content: space-between;
	}
}

/* If the screen size is 600px or less, */
@media only screen and (max-width: 600px){
	.services {
		display: flex;
		height: auto;
		flex-flow: column nowrap;
		align-items: center;
		width: 600px;
		margin-left: 135px;
	}
}

